<!doctype html>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<html class="no-js" lang="">

<div class="footer">
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <p class="text-uppercase font-weight-bold" style="float:right">Proiect Baze de Date</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <p class="text-uppercase font-weight-bold">Razvan Olariu, 332 AA</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://www.linkedin.com/in/razvan-olariu-bb23a8150/"> Razvan Industries</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>