<div class="wrapper">

{{> header }}


<body background="/img/background.jpg">

    <div class="container">
        <h1 class="titleR">Are you sure?</h1>
    </div>

    <button class="btn" onclick="yes({{pilot_ID}}, {{team_ID}})"> YES</button>
    <button class="btn" onclick="no()"> NO</button>

    <script>
        function yes(pilot_ID, team_ID) {
            if(team_ID == 0)
                location.href = "/pilots_delete_final/"+ pilot_ID;
            else if(pilot_ID == 0)
                location.href = "/teams_delete_final/"+ team_ID;
        };
        function no() {
            location.href = "/";
        };
    </script>

</body>

<div class="space">
    {{> footer}}
</div>

</div>