<div class="wrapper">

{{> header }}


<body background="/img/background.jpg">

    <div class="container">
        <h1 class="titleR">Are you sure?</h1>
    </div>

    <button class="btn" onclick="yes({{photoId}})"> YES</button>
    <button class="btn" onclick="no()"> NO</button>

    <script>
        function yes(photoId) {
            console.log(photoId);
            location.href = "/photo_delete_final/"+ photoId;
        };
        function no() {
            location.href = "/profile";
        };
    </script>

</body>

<div class="space">
    {{> footer}}
</div>

</div>