{{> header }}


<body background="/img/background.jpg">


    <div class="white">
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Tema Proiectului</h4>
                <p>Aplicatia unui campionat de Formula 1</p>

                <h4>Technology Stack</h4>
                <p>JavaScript - express framework</p>
                <p>Handlebars</p>
                <p>MySQL</p>

            </div>

            <div class="col-lg-6">
                <h4>Functionalitate</h4>
                <p>Login: intrare in cont</p>
                <p>Register: inregistrare cont</p>
                <p>Pilots: vizualizare, insert, update piloti</p>
                <p>Teams: vizualizare, insert, update echipe</p>
                <p>Circuits: vizualizare detalii ciruite</p>
                <p>Results: Afisare rezultate pentru piloti/echipe pe fiecare circuit</p>
                <p>Stats: vizualizare rezultate querry-uri cpomplexe</p>

            </div>
        </div>
    </div>
</body>
{{> footer}}