{{> header }}

<div class="transp">
<body background="/img/background.jpg">
</div>

    <div class="white">

        <div class="row marketing">

            <div class="col-lg-6">
                <h4>Tema Proiectului</h4>
                <p>Expozitie de paini</p>

                <h4>Technology Stack</h4>
                <p>JavaScript - express framework</p>
                <p>Handlebars</p>
                <p>MySQL</p>
            </div>

            <div class="col-lg-6">
                <h4>Functionalitate</h4>
                <p>Login: intrare in cont</p>
                <p>Register: inregistrare cont</p>
                <p>Wall: vizualizare, inserare poze cu paini</p>
                <p>Like + Comentarii</p>
                <p>Profile: vizualizarea detaliilor contului de brutar</p>
            </div>

        </div>

    </div>
</body>
{{> footer}}