<div class="wrapper">

    {{> header }}


    <body background="/img/background.jpg">
        <div class="container">
            <h1 class="titleR">{{title}}</h1>

            <div class="subtitleR1">
                <h3>Status Piloti</h3>
                <h4>1.Numar de curse in care pilotii s-au incadrat sub pozitia introdusa</h4>
            </div>

            <form method="POST" action="/stats/positionP">
                <div class="subtitleR">
                    <label for="pozitie">Pozitie</label>
                    <input type="text" name="pozitie" class="form-control">
                </div>

                <button type="submit" class="btn">Submit</button>
            </form>


            <div class="subtitleR1">
                <h3>Status Echipe</h3>
            </div>

            <div class="row marketing">
                <div class="col-lg-6">
                    <div class="subtitleR1">
                        <h4>1. Numar de curse in care echipele au participat intre datele introduse</h4>
                    </div>

                    <form method="POST" action="/stats/positionT">
                        <div class="subtitleR">
                            <label for="data1">Data 1</label>
                            <input type="text" name="data1" class="form-control" placeholder="YYYY-MM-DD">
                        </div>

                        <div class="subtitleR">
                            <label for="data2">Data 2</label>
                            <input type="text" name="data2" class="form-control" placeholder="YYYY-MM-DD">
                        </div>

                        <button type="submit" class="btn">Submit</button>
                    </form>


                    <div class="subtitleR1">
                        <h4>2. Echipele care nu au participat la nici o cursa</h4>
                    </div>

                    <form method="POST" action="/stats/participateT">
                        <button type="submit" class="btn">Show</button>
                    </form>
                </div>

                <div class="col-lg-1">

                </div>

                <div class="col-lg-5">

                    <div class="subtitleR1">
                        <h4>3. Media pozitiilor obtinute pentru o echipa introdusa</h4>
                        <p> Codul echipei : </p>

                        <div class="row marketing">
                            <div class="col-lg-5">
                                <p> Mercedes: 1 </p>
                                <p> Ferrari: 2 </p>
                                <p> Red Bull: 3</p>
                                <p> Renault: 4</p>
                                <p> Haas: 5</p>
                            </div>

                            <div class="col-lg-5">
                                <p> McLaren: 6</p>
                                <p> Force India: 7</p>
                                <p> Toro Rosso: 8</p>
                                <p> Alfa Romeo: 9</p>
                                <p> Williams Martini : 10</p>
                            </div>
                        </div>

                        <form method="POST" action="/stats/averageT">
                            <div class="subtitleR">
                                <label for="code">Team code</label>
                                <input type="text" name="code" class="form-control">
                            </div>

                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
    </body>

    <div class="space">
        {{> footer}}
    </div>

</div>