<div class="wrapper">

{{> header }}


<body background="/img/background.jpg">

    <div class="container">
        <h1 class="titleR">Success!</h1>
    </div>

</body>

<div class="space">
    {{> footer}}
</div>

</div>
