body {
  margin: 0; }

  .titleR{
    margin-top: 30px;
    margin-bottom: 20px;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  } 

  .titleR1{
    margin-top: 35px;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  } 
  
  .titleR2{
    margin-top: 5px;
    color: rgb(255, 153, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  .titleR3{
    margin-top: 5px;
    color: rgb(255, 115, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  
  .subtitleR{
    margin-bottom: 20px;
    color: rgb(255, 136, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .subtitleR1{
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-weight: bold;
  }

  .textR{
    color: rgb(255, 136, 0);
  }

  .radioList{
    margin-top: 5px;
    margin-left:12px;
    color: whitesmoke;
  }

  .listTitle{
    color: rgb(226, 44, 44);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .listTitleR{
    color: rgb(226, 44, 44);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 26px;
  }

  .listItemR{
    color: rgb(226, 44, 44);
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 26px;
  }

  .listSubtitleR{
    color: rgb(226, 44, 44);
    margin-bottom: 10px;
    font-size: 22px;
  }

  .detailR{
    color: whitesmoke;
    margin-left: 30px;
    font-size: 18px;
  }

  .a {
    color:orangered;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    margin-right: 55px;
}

.b {
  color:orangered;
  text-decoration: none;
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  -webkit-text-decoration-skip: objects;
  margin-right: 55px;
}

.btn{
  color: orange;
  background-color: orangered;
  border-color:orangered;
  margin-top: 10px;
}


.btn1{
  background-color: rgb(255, 123, 0);
  color: rgb(255, 196, 0);
  border-color:orange;
  border: 1px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btnBot{
  color: orange;
  background-color: orangered;
  border-color:orangered;
  margin-top: 10px;
  margin-bottom: 60px;
}

.btnCategory{
  color: orange;
  background-color: orangered;
  border-color:orangered;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-right: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btnR{
  background-color: rgb(255, 123, 0);
  color: rgb(255, 196, 0);
  border-color:orange;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 30px;
  margin-right: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btnR1{
  background-color: rgb(255, 123, 0);
  color: rgb(255, 196, 0);
  border-color:orange;
  font-size: 15px;
  font-weight: bolder;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btnBack{
  color: orange;
  background-color: orangered;
  border-color:orangered;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer {
  color: orangered;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.space{
  padding-top: 200px;
}

.white {
  margin-top: 50px;
  color: rgb(255, 136, 0);
  font-size: 110%;
}

.red {
  margin-bottom: 30px;
  color: orangered;
}

.transp{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
  
.imgR{
  width: 500px;
  height: 500px;
}

.bold{
  font-weight: bold;
}

.photoSpacer{
  margin-top: 60px;
  margin-bottom: 45px;
}

.line{
  float: right;
}

.marginL{
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map*/